@font-face {
    font-family: cards;
    src: url(fonts/Fun\ Games.ttf);
}

body {
    font-family: 'cards','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/greentable.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: goldenrod;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 8px;
}

img{
    width: 150px;
    margin: 0 0.5em;
}

p{
    font-size: 2rem;
    letter-spacing: 6px;
}

#message-el {
    font-style: italic;
}

button {
    /* color: #016f32; */
    color: rgba(2, 36, 3, 0.8);
    width: 300px;
    background: goldenrod;
    padding: .4em 1em;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.display{
    width: 80vw;
}

.player{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hidden{
    display: none;
}
